<template>
<div class="container">
  <div class="item itemStart">
    <tour v-if="tourDetails !== undefined"
      :city=tourDetails.city
      :image=tourDetails.attributes.Image
      :created=tourDetails.attributes.Dated
      :country=tourDetails.country
      :id=tourDetails.tour_id
    ></tour>
  </div>
  <div class="item dayLabel">День первый</div>
  <div class="item">
    <p-o-i v-for="poi in places" v-if="poi.Day==='1'"
           :imageURL=poi.Image
           :POIname="poi.Name"
    />
  </div>
  <div class="item dayLabel">День второй</div>
  <div class="item">
    <p-o-i v-for="poi in places" v-if="poi.Day==='2'"
           :imageURL=poi.Image
           :POIname="poi.Name"
    />
  </div>
</div>
</template>

<script>
import { HTTP } from '../services/Api'
import Tour from '../components/Tour'
import POI from '../components/POI'

export default {
  name: 'Details',

  data: () => ({
    tourDetails: undefined,
    places: [],
    lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`
  }),

  props: {
    id: {
      default: '',
      type: String
    }
  },

  components: { Tour, POI },

  methods: {
    getByID () {
      HTTP
        .post(`/tours/${this.id}`)
        .then(response => {
          const { tours } = response.data
          this.tourDetails = tours[0] // TODO Добавить проверку на возвращаемые значения
          this.places = this.tourDetails.attributes.Places
          console.log(this.tourDetails)
        })
      // TODO добавить обработку ошибок
    }
  },

  created () {
    console.log('Create Details')
    if (this.id !== '') {
      this.getByID()
    }
  }
}
</script>

<style scoped>

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30px auto 30px auto;
    grid-gap: 20px;
    align-items: start;
  }

  .itemStart {
    grid-row: span 4;
  }

  .item {
    text-align: left;
  }

  .dayLabel {
    font-size: 20px;
  }
</style>
