<template>
  <v-container grid-list-xl>
    <v-layout v-bind="binding">
      <v-flex>
        <tour v-if="randomTours.length !== 0"
          :city=randomTours[0].city
          :image=randomTours[0].attributes.Image
          :created=randomTours[0].attributes.Dated
          :country=randomTours[0].country
          :id=randomTours[0].tour_id
        ></tour>
      </v-flex>
      <v-flex>
        <tour v-if="randomTours.length !== 0"
              :city=randomTours[1].city
              :image=randomTours[1].attributes.Image
              :created=randomTours[1].attributes.Dated
              :country=randomTours[1].country
              :id=randomTours[1].tour_id
        ></tour>
      </v-flex>
      <v-flex>
        <tour v-if="randomTours.length !== 0"
              :city=randomTours[2].city
              :image=randomTours[2].attributes.Image
              :created=randomTours[2].attributes.Dated
              :country=randomTours[2].country
              :id=randomTours[2].tour_id
        ></tour>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { HTTP } from '../services/Api'
import Tour from '../components/Tour'

export default {
  name: 'home',
  data: () => ({
    reviews: 413,
    value: 4.5,
    toursList: [],
    randomTours: []
  }),
  components: { Tour },
  computed: {
    binding () {
      const binding = {}

      if (this.$vuetify.breakpoint.mdAndUp) binding.row = true

      return binding
    }
  },

  created () {
    console.log(process.env.VUE_APP_BACKEND)

    HTTP
      .get(`/tours`)
      .then(response => {
        const { tours } = response.data
        this.toursList = tours.slice()
        console.log(`All tour are ${this.toursList.length}`)
        this.randomTours.push(this.toursList[Math.floor(Math.random() * Math.floor(this.toursList.length))])
        this.randomTours.push(this.toursList[Math.floor(Math.random() * Math.floor(this.toursList.length))])
        this.randomTours.push(this.toursList[Math.floor(Math.random() * Math.floor(this.toursList.length))])
      })
  }
}
</script>
