<template>
  <v-toolbar>
    <v-toolbar-side-icon></v-toolbar-side-icon>

    <v-toolbar-title
      @click="goHome"
      class="pointer">
      2 DAYS
    </v-toolbar-title>

    <v-text-field
      v-model="query"
      class="mx-3"
      flat
      label="Search"
      clearable
      append-outer-icon="search"
      @click:append-outer="startSearch"
    ></v-text-field>

    <v-spacer></v-spacer>

    <h2 v-if="this.$store.getters.SIGNEDIN === true">{{ this.$store.getters.USER_INFO.username }}</h2>

    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat v-if="this.$store.getters.SIGNEDIN === true" @click="goNewTour">Создать</v-btn>

      <amplify-sign-out class="signout" v-if="this.$store.getters.SIGNEDIN === true"></amplify-sign-out>

      <v-btn flat v-else @click="goRegister">Войти</v-btn>
    </v-toolbar-items>

  </v-toolbar>
</template>

<script>
import { AmplifyEventBus } from 'aws-amplify-vue'
export default {
  name: 'NavBar',
  data: () => ({
    query: ''
  }),
  methods: {
    startSearch () {
      console.log('Start search!')
      const query = encodeURIComponent(this.query)
      this.$router.push({ path: `/search?name=${query}` })
    },
    goHome () {
      this.$router.push({ name: 'home' })
    },
    goRegister () {
      this.$router.push({ name: 'register' })
    },
    goNewTour () {
      this.$router.push({ name: 'new-tour' })
    }
  },

  created () {
    AmplifyEventBus.$on('authState', info => {
      if (info === 'signedIn') {
        this.$store.dispatch('SET_SIGNEDIN', true)
        this.$store.dispatch('SET_USER_INFO')
        this.$router.push({ path: `/` })
      } else {
        this.$store.dispatch('SET_SIGNEDIN', false)
        this.$store.dispatch('CLEAR_USER_INFO', {})
      }
    })
  }
}
</script>

<style scoped>
  .pointer {
    cursor: pointer;
  }
</style>
