<template>
<div>
  <v-dialog v-model="dialog" persistent max-width="290">
    <v-card>
      <v-card-title class="headline">Тур успешно сохранен!</v-card-title>
      <v-card-actions>
        <v-btn color="green darken-1" flat @click="closeMessage">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <div class="container">

    <div class="item itemStart">
      <v-btn color="success" @click="saveNewTour">Сохранить</v-btn>
      <tour-editable v-if="newTour !== undefined"
            :city=newTour.city
            :image=newTour.attributes.Image
            :created=newTour.attributes.Dated
            :country=newTour.country
            :id=newTour.tour_id
            :changeCountry="setCountryName"
            :changeCity="setCityName"
            :changeTourImage="setTourImage"
      ></tour-editable>
    </div>
    <div class="item dayLabel">День первый</div>
    <div class="item">
      <p-o-ieditable v-on:changeName="setPOIname" v-on:changeImageURL="setPOIimageURL" v-for="poi in newTour.attributes.Places" v-if="poi.Day==='1'"
             :imageURL=poi.Image
             :POIname="poi.Name"
             :Day=poi.Day
      />

      <img
        class="plus"
        src="img/Green_pog_plus.svg.png"
        @click="addNewTour('1')"
      >

    </div>
    <div class="item dayLabel">День второй</div>
    <div class="item">
      <p-o-ieditable v-on:changeName="setPOIname" v-on:changeImageURL="setPOIimageURL" v-for="poi in newTour.attributes.Places" v-if="poi.Day==='2'"
             :imageURL=poi.Image
             :POIname="poi.Name"
             :Day=poi.Day
      />

      <img
        class="plus"
        src="img/Green_pog_plus.svg.png"
        @click="addNewTour('2')"
      >
    </div>
  </div>
</div>
</template>

<script>
import moment from 'moment'
import TourEditable from '../components/TourEditable'
import POIeditable from '../components/POIeditable'
import { HTTP } from '../services/Api'

export default {
  name: 'NewTour',

  data: () => ({
    newTour: {},
    dialog: false
  }),

  components: { TourEditable, POIeditable },

  methods: {
    getCurrentDate () {
      const date = moment()
      return date.format('DD/MM/YYYY')
    },
    setCountryName (country) {
      console.log(`Country: ${country}`)
      this.newTour.country = country
    },
    setCityName (city) {
      console.log(`City: ${city}`)
      this.newTour.city = city
    },
    setTourImage (imageURL) {
      console.log(`imageURL: ${imageURL}`)
      this.newTour.attributes.Image = imageURL
    },
    setPOIname (oldName, newName, day) {
      console.log(this.newTour.attributes.Places)

      const index = this.newTour.attributes.Places.findIndex(item => item.Name === oldName && item.Day === day)
      this.newTour.attributes.Places[index].Name = newName
    },
    setPOIimageURL (POIname, newImageURL, day) {
      console.log(newImageURL)
      const index = this.newTour.attributes.Places.findIndex(item => item.Name === POIname && item.Day === day)
      this.newTour.attributes.Places[index].Image = newImageURL
    },
    addNewTour (day) {
      const newPOI = {
        'Name': 'Место',
        'Image': 'https://via.placeholder.com/200/?text=2days.com',
        'Day': day
      }

      this.newTour.attributes.Places.push(newPOI)
    },
    saveNewTour () {
      HTTP
        .post('/new', this.newTour)
        .then(response => {
          console.log(response.data.message)
          this.dialog = true
        })
    },
    closeMessage () {
      this.dialog = false
      this.$router.push({ name: 'home' })
    }
  },

  created () {
    const uuidv4 = require('uuid/v4')

    this.newTour = {
      'tour_id': uuidv4(),
      'country': 'Страна',
      'city': 'Город',
      'user_id': this.$store.getters.USER_INFO.pool.clientId,
      'attributes': {
        'UserName': this.$store.getters.USER_INFO.username,
        'Dated': this.getCurrentDate(),
        'Image': 'https://via.placeholder.com/300/?text=2days.com',
        'Places': [
          {
            'Name': 'Место 1',
            'Image': 'https://via.placeholder.com/200/?text=2days.com',
            'Day': '1'
          },
          {
            'Name': 'Место 2',
            'Image': 'https://via.placeholder.com/200/?text=2days.com',
            'Day': '1'
          },
          {
            'Name': 'Место 3',
            'Image': 'https://via.placeholder.com/200/?text=2days.com',
            'Day': '2'
          },
          {
            'Name': 'Место 4',
            'Image': 'https://via.placeholder.com/200/?text=2days.com',
            'Day': '2'
          }
        ]
      }
    }

    console.log('New tour is')
    console.log(this.newTour)
  }
}
</script>

<style scoped>
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30px auto 30px auto;
    grid-gap: 20px;
    align-items: start;
  }

  .itemStart {
    grid-row: span 4;
  }

  .item {
    text-align: left;
  }

  .dayLabel {
    font-size: 20px;
  }

  .plus {
    height: 50px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
  }
</style>
