<template>
  <div id="register">
    <div v-if="!signedIn">
      <amplify-authenticator></amplify-authenticator>
    </div>
  </div>
</template>

<script>
import { AmplifyEventBus } from 'aws-amplify-vue'
import { Auth } from 'aws-amplify'

export default {
  name: 'Register',
  async beforeCreate () {
    try {
      const user = await Auth.currentAuthenticatedUser()
      this.signedIn = true
      this.$store.dispatch('SET_SIGNEDIN', true)
      this.$store.dispatch('SET_USER_INFO')
      this.$router.push({ path: `/` })
    } catch (err) {
      this.signedIn = false
      this.$store.dispatch('SET_SIGNEDIN', false)
      this.$store.dispatch('CLEAR_USER_INFO', {})
    }
    AmplifyEventBus.$on('authState', info => {
      if (info === 'signedIn') {
        this.signedIn = true
        this.$store.dispatch('SET_SIGNEDIN', true)
        this.$store.dispatch('SET_USER_INFO')
        this.$router.push({ path: `/` })
      } else {
        this.signedIn = false
        this.$store.dispatch('SET_SIGNEDIN', false)
        this.$store.dispatch('CLEAR_USER_INFO', {})
      }
    })
  },
  data () {
    return {
      signedIn: this.$store.getters.SIGNEDIN
    }
  }
}

</script>

<style scoped>

</style>
