<template>
  <v-container grid-list-xl>
    <v-layout v-bind="binding">
      <h1 v-if="messages !== ''"> {{ messages }}</h1>
      <v-flex v-for="tour in toursList">
        <tour
            :city=tour.city
            :image=tour.attributes.Image
            :created=tour.attributes.Dated
            :country=tour.country
            :id=tour.tour_id
        ></tour>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { HTTP } from '../services/Api'
import Tour from '../components/Tour'

export default {
  name: 'ShowCase',

  props: {
    query: {
      default: '',
      type: String
    }
  },

  components: { Tour },

  data: () => ({
    toursList: [],
    messages: 'Ищем...'
  }),

  methods: {
    getData () {
      // clear spaces
      this.query = this.query.trim()

      HTTP
        .post(`/tours/search/${this.query}`)
        .then(response => {
          const { tours } = response.data
          this.toursList = tours.slice()
          this.messages = '' // TODO Если объекты не найдены - сообщить об этом
          console.log(this.toursList)
        })
      // TODO добавить обработку ошибок
    }
  },

  computed: {
    binding () {
      const binding = {}

      if (this.$vuetify.breakpoint.mdAndUp) binding.row = true

      return binding
    }
  },

  created () {
    console.log('computedQuery')
    if (this.query !== '') {
      this.getData()
    }
  },

  watch: {
    query: function (newVal, oldVal) { // watch it
      console.log('watchQuery')
      this.getData()
    }
  }

}
</script>

<style scoped>

</style>
