<template>
  <div class="poi">
    <img class="img" :src="imageURL">
    <h2 class="label">{{ POIname }}</h2>
  </div>
</template>

<script>
export default {
  name: 'POI',
  props: ['POIname', 'imageURL']
}
</script>

<style scoped>
  .img {
    max-width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .poi {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 2px;
    color: rgba(0,0,0,.87);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;
  }

  .label {
    padding-left: 10px;
    padding-top: 10px;
    display: -webkit-box; /*задает блочный элемент тегу*/
    -webkit-line-clamp: 1; /*количество строк в блоке*/
    -webkit-box-orient: vertical; /*ориентацию элемента внутри тянущегося бокса*/
    max-width: 200px; /*максимальна длина блока*/
    overflow: hidden; /*обрезает лишний текст*/
    text-overflow: ellipsis; /*ставит многоточие после обрезки текста*/
    height:35px /* высота текстового блока*/
  }
</style>
