<template>
  <v-hover>
    <v-card
      slot-scope="{ hover }"
      :class="`elevation-${hover ? 12 : 2}`"
      class="mx-auto"
      width="344"
    >
      <v-card-title primary-title>
        <div>
          <v-select
            label="Страна"
            v-on:change="changeCountry"
            :items="countries"/>
          <v-select
            label="Город"
            v-on:change="changeCity"
            :items="cities"/>
        </div>
      </v-card-title>
      <v-img
        :aspect-ratio="16/9"
        :src="image"
      />
      <v-text-field
        label="Image URL"
        clearable
        v-on:change="changeTourImage"
      ></v-text-field>
      <v-card-text>Создано:&nbsp;{{ created }}</v-card-text>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  name: 'Tour',

  data: () => ({
    cities: ['Амстердам',
      'Афины',
      'Берлин',
      'Брюссель',
      'Будапешт',
      'Бухарест',
      'Варшава',
      'Ватикан',
      'Вена',
      'Вильнюс',
      'Лондон',
      'Мадрид',
      'Париж',
      'Прага',
      'Рим'],
    countries: ['Нидерланды',
      'Греция',
      'Германия',
      'Бельгия',
      'Венгрия',
      'Румыния',
      'Польша',
      'Ватикан',
      'Австрия',
      'Литва',
      'Великобритания',
      'Испания',
      'Франция',
      'Чехия',
      'Италия']
  }),

  props: {
    id: {
      default: '',
      type: String
    },
    country: {
      default: 'Россия',
      type: String
    },
    city: {
      default: 'Москва',
      type: String
    },
    image: {
      default: '',
      type: String
    },
    created: {
      default: '',
      type: String
    },
    isTitle: {
      default: false,
      type: Boolean
    },
    isRoundBorder: {
      default: false,
      type: Boolean
    },
    changeCountry: {
      type: Function
    },
    changeCity: {
      type: Function
    },
    changeTourImage: {
      type: Function
    }
  },
  methods: {
    showDetails () {
      console.log(`Show Details: ${this.id}`)
      const encodeId = encodeURIComponent(this.id)
      this.$router.push({ path: `/details?id=${encodeId}` })
    }
  }
}
</script>

<style scoped>
  .tour {
    height: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  h1, h2 {
    padding: 0;
    margin: 0;
  }

  .tour img {
    height: 100%; /* Ширина в процентах */
  }

  .roundBorder {
    border-radius: 10px;
  }
</style>
