<template>
  <v-hover>
    <v-card
      slot-scope="{ hover }"
      :class="`elevation-${hover ? 12 : 2}`"
      class="mx-auto"
      width="344"
    >
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">{{ city }}</h3>
          <div>{{ country }}</div>
        </div>
      </v-card-title>
      <v-img
        :aspect-ratio="16/9"
        :src="image"
      />
      <v-card-text>Создано:&nbsp;{{ created }}</v-card-text>
      <v-card-actions>
        <v-btn flat color="orange" @click="showDetails">Просмотр</v-btn>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  name: 'Tour',
  props: {
    id: {
      default: '',
      type: String
    },
    country: {
      default: 'Россия',
      type: String
    },
    city: {
      default: 'Москва',
      type: String
    },
    image: {
      default: '',
      type: String
    },
    created: {
      default: '',
      type: String
    },
    isTitle: {
      default: false,
      type: Boolean
    },
    isRoundBorder: {
      default: false,
      type: Boolean
    }
  },
  methods: {
    showDetails () {
      console.log(`Show Details: ${this.id}`)
      const encodeId = encodeURIComponent(this.id)
      this.$router.push({ path: `/details?id=${encodeId}` })
    }
  }
}
</script>

<style scoped>
  .tour {
    height: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  h1, h2 {
    padding: 0;
    margin: 0;
  }

  .tour img {
    height: 100%; /* Ширина в процентах */
  }

  .roundBorder {
    border-radius: 10px;
  }
</style>
